.advantages {
  background-color: #fff5f6;
  padding-top: 40px;
  padding-bottom: 40px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      justify-content: space-around;
    }
  }
}

.advantages__item {
  margin-top: 82px;
  width: 230px;
  @media screen and (min-width: 1200px) {
    width: 317px;
    margin-bottom: 80px;
  }
}
.advantages__item-title {
  font-family: 'Titan One';
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}
.title-one {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 50px;
    background-image: url(../images/advantages-mob/bucket-milk--mob.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 50px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages-mob/bucket-milk--mob-x2.png);
    }
    @media screen and (min-width: 768px) {
      bottom: 80px;
      width: 50px;
      background-image: url(../images/advantages-tab/bucket-milk--tab.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages-tab/bucket-milk--tab-x2.png);
      }
    }
    @media screen and (min-width: 1200px) {
      bottom: 100px;
      background-image: url(../images/advantages-dec/bucket-milk.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages-dec/bucket-milk-x2.png);
      }
    }
  }
}
.title-two {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 50px;
    background-image: url(../images/advantages-mob/bucket-apple--mob.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 50px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages-mob/bucket-apple--mob-x2.png);
    }
    @media screen and (min-width: 768px) {
      bottom: 80px;
      width: 50px;
      background-image: url(../images/advantages-tab/bucket-apple--tab.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages-tab/bucket-apple--tab-x2.png);
      }
    }
    @media screen and (min-width: 1200px) {
      bottom: 100px;
      background-image: url(../images/advantages-dec/bucket-apple.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages-dec/bucket-apple-x2.png);
      }
    }
  }
}
.title-three {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 50px;
    background-image: url(../images/advantages-mob/three-heart--mob.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 50px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages-mob/three-heart--mob-x2.png);
    }
    @media screen and (min-width: 768px) {
      bottom: 80px;
      width: 50px;
      background-image: url(../images/advantages-tab/three-heart--tab.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages-tab/three-heart--tab-x2.png);
      }
    }
    @media screen and (min-width: 1200px) {
      bottom: 100px;
      background-image: url(../images/advantages-dec/three-heart.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages-dec/three-heart-x2.png);
      }
    }
  }
}
.advantages__item-text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
