.footer {
  background-color: #fff5f6;
  padding-top: 40px;
}

.footer-top {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include tablet {
    flex-direction: unset;
  }
}
.footer__top-text {
  max-width: 235px;
  font-family: 'Titan One';
  @include font(400, 18px, 1.16, null, var(--accent-color));
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;

  @include tablet {
    @include font(400, 26px, 1.15, null, var(--accent-color));
    max-width: 340px;
  }

  @include desktop {
    @include font(400, 30px, 1.13, 0.04em, var(--accent-color));
    max-width: 474px;
  }
}
.footer__title {
  max-width: 235px;
  font-family: 'Titan One';
  @include font(400, 34px, 1.14, 0.04em, var(--title-text-color));
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include tablet {
    @include font(400, 48px, 1.14, 0.04em, var(--title-text-color));
    margin-bottom: 40px;
  }

  @include desktop {
    @include font(400, 58px, 1.14, 0.06em, var(--title-text-color));
    margin-bottom: 60px;
    max-width: 480px;
  }
}
.footer-soc__list {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
  list-style: none;
}

.footer-soc__item:not(:last-child) {
  margin-right: 30px;
}
.footer-soc__link {
  display: block;
  width: 32px;
  height: 32px;
}

.footer-soc__icon {
  fill: #fea5bb;
  width: 100%;
  height: 100%;
  &:hover,
  &:focus {
    fill: #d41443;
  }
  @include tablet {
    @include font(400, 26px, 1.15, null, var(--accent-color));
  }

  @include desktop {
    @include font(400, 30px, 1.13, 0.04em, var(--accent-color));
  }
}

.footer__contact {
  @include font(700, 12px, 1.86, null, #000000);
  font-family: 'DM Sans';
  font-style: normal;
  text-align: right;
  margin-bottom: 40px;
}

.footer-tel {
  color: var(--title-text-color);
  text-decoration: none;
}

.footer__bottom {
  margin-top: 15px;
  margin-bottom: 5px;
  @include font(700, 14px, 1.53, null, #907e82);

  text-align: center;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    width: 138px;
  }
}
