<section class="about" id="about">
  <div class="container">
    <p class="about__top-text">Tradition and love</p>
    <h2 class="about__title">How it's made?</h2>

    <div class="about__container">
      <div class="about__pic">
        <picture>
          <source
            srcset="
              ./images/about-cow-desk-1x.png 1x,
              ./images/about-cow-desk-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about-cow-tab-1x.png 1x,
              ./images/about-cow-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/about-cow-1x.png 1x, ./images/about-cow-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/about-cow-1x.png" alt="cow" width="280" />
        </picture>
      </div>

      <div class="about__container-text">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__bottom-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__bottom-text">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__btn" data-manu-description-open>
          Read more &#10095;
        </button>
      </div>
    </div>
  </div>
</section>
