<section class="customerreviews" id="customerreviews">
<div class="container">
    <h1 class="visually-hidden">Customer Reviews</h1>
    <div class="slider">
        <div>

            <div class="slider__foto">
                <img srcset="./images/testimonials1.png 1x,
                ./images/testimonials1-2x.png 2x"
                width="85" 
                src="./images/testimonials1.png" 
                alt="девушка">
            </div>
            <div class="slider__text">
                <div class="slider__line"> </div>
                <p class="slider__paragraph"> <span class="slider__pspan">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
            </div>
            <div class="slider__dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="slider__div">
                <h4 class="slider__sity">Mariya, Washington </h4>
            </div>
        </div>
        <div>
            <div>

                <div class="slider__foto">
                    <img srcset="./images/testimonials2.png 1x,
                                ./images/testimonials2-2x.png 2x" width="85" src="./images/testimonials2.png" alt="девушка">
                </div>
                <div class="slider__text">
                    <div class="slider__line"> </div>
                    <p class="slider__paragraph"> <span class="slider__pspan">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</span>
                    </p>
                </div>
                <div class="slider__dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="slider__div">
                    <h4 class="slider__sity">Sophia, New York </h4>
                </div>
                </div>
        </div>
        <div>
            <div>

                <div class="slider__foto">
                    <img 
                    srcset="./images/testimonials3.png 1x,
                ./images/testimonials3-2x.png 2x"
                    width="85" 
                    src="./images/testimonials3.png" alt="девушка">
                </div>
                <div class="slider__text">
                    <div class="slider__line"> </div>
                    <p class="slider__paragraph"> <span class="slider__pspan">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam
                            nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</span>
                    </p>
                </div>
                <div class="slider__dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="slider__div">
                    <h4 class="slider__sity">Emily, Los Angeles</h4>
                </div>

            </div>
        </div>

    </div>
   
</div>
</section>