
  <section class="gallery">
    <div class="gallery-fild"></div>
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery-conteiner">
      <div class="img-gallery first-img">
        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-1.jpg    1x,
              ./images/gallery-desc/gallery-1-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab1.jpg    1x,
              ./images/gallery-tab/gallery-tab1-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob1.jpg    1x,
              ./images/gallery-mob/gallery-mob1-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-1.jpg"
            alt="ice-cream"
          />
        </picture>
      </div>

      <div class="img-gallery">
        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-2.jpg    1x,
              ./images/gallery-desc/gallery-2-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab2.jpg    1x,
              ./images/gallery-tab/gallery-tab2-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob2.jpg    1x,
              ./images/gallery-mob/gallery-mob2-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-2.jpg"
            alt="ice-cream"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-3.jpg    1x,
              ./images/gallery-desc/gallery-3-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab3.jpg    1x,
              ./images/gallery-tab/gallery-tab3-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob3.jpg    1x,
              ./images/gallery-mob/gallery-mob3-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-3.jpg"
            alt="meny-ice-cream"
          />
        </picture>
      </div>

      <div class="img-gallery">
        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-4.jpg    1x,
              ./images/gallery-desc/gallery-4-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab4.jpg    1x,
              ./images/gallery-tab/gallery-tab4-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob4.jpg    1x,
              ./images/gallery-mob/gallery-mob4-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-4.jpg"
            alt="meny-ice-cream"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-5.jpg    1x,
              ./images/gallery-desc/gallery-5-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab5.jpg    1x,
              ./images/gallery-tab/gallery-tab5-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob5.jpg    1x,
              ./images/gallery-mob/gallery-mob5-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-5.jpg"
            alt="lady and ice-cream"
          />
        </picture>
      </div>

      <div class="img-gallery fourth-img">
        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-6.jpg    1x,
              ./images/gallery-desc/gallery-6-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab6.jpg    1x,
              ./images/gallery-tab/gallery-tab6-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob6.jpg    1x,
              ./images/gallery-mob/gallery-mob6-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-6.jpg"
            alt="ice-cream and fruits"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-7.jpg    1x,
              ./images/gallery-desc/gallery-7-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab7.jpg    1x,
              ./images/gallery-tab/gallery-tab7-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob7.jpg    1x,
              ./images/gallery-mob/gallery-mob7-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-7.jpg"
            alt="ice-cream on streat"
          />
        </picture>
      </div>

      <div class="img-gallery fifth-img">
        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-8.jpg    1x,
              ./images/gallery-desc/gallery-8-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab8.jpg    1x,
              ./images/gallery-tab/gallery-tab8-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob8.jpg    1x,
              ./images/gallery-mob/gallery-mob8-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-8.jpg"
            alt=" dog and ice-cream"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-9.jpg    1x,
              ./images/gallery-desc/gallery-9-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab9.jpg    1x,
              ./images/gallery-tab/gallery-tab9-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob9.jpg    1x,
              ./images/gallery-mob/gallery-mob9-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-9.jpg"
            alt="milkshacke"
          />
        </picture>
      </div>

      <div class="img-gallery">
        <picture>
          <source
            srcset="
              ./images/gallery-desc/gallery-10.jpg    1x,
              ./images/gallery-desc/gallery-10-2x.jpg 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/gallery-tab/gallery-tab10.jpg    1x,
              ./images/gallery-tab/gallery-tab10-2x.jpg 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/gallery-mob/gallery-mob10.jpg    1x,
              ./images/gallery-mob/gallery-mob10-2x.jpg 2x
            "
            media="(min-width:
          320px)"
          />
          <img
            class="photo"
            src="./images/gallery-desc/gallery-10.jpg"
            alt="ice-cream"
          />
        </picture>
      </div>
    </div>
    </div>
  </section>

