<header class="header">
  <div class="container">
    <a class="header__logo link" href="">
      <svg class="logo-icon" width="199" height="50">
        <use href="./images/icons.svg#icon-icelogosvgx1"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="" class="nav__link current link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#advantages" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
      <div class="header__wrap">
        <button type="button" class="menu-open-btn" data-menu-button>
          <svg class="menu-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-burgersvg"></use>
          </svg>
        </button>
        <button type="button" class="nav__btn" data-modal-open>
          Buy now
          <svg class="nav__icon" width="10" height="10">
            <use href="./images/icons.svg#icon-Vector-1-2-1"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="container hero-contn">
    <div class="hero__containers">
      <div class="hero_contain">
        <h1 class="hero__title">
          ice cream made with<br /><span class="hero__title--end">passion</span>
        </h1>
        <picture class="hero__img">
          <source
            srcset="
              ./images/slider-pic-icecream-desk-1x.png 1x,
              ./images/slider-pic-icecream-desk-2x.png 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/slider-pic-icecream-tabx1.png 1x,
              ./images/slider-pic-icecream-tabx1.png 2x
            "
            media="(min-width:
          768px)"
          />
          <source
            srcset="
              ./images/slider-pic7mobx1.png 1x,
              ./images/slider-pic7-2x.png   2x
            "
            media="(min-width:
          320px)"
          />
          <img src="./images/slider-pic7mobx1.png" alt="ice-cream" />
        </picture>

        <picture class="hero__img-circle">
          <source
            srcset="
              ./images/Ellipse-desk-1x.png 1x,
              ./images/Ellipse-desk-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/Ellipse-tab-1x.png 1x,
              ./images/Ellipse-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/Ellipse-desk-1x.png" alt="ellipse" width="335" />
        </picture>
        
        <div class="btn__wrap">
          <a href="#advantages" class="hero__link">
            <button type="button" class="hero__btn--top">Products</button></a
          >
          <a href="#about" class="hero__link"
            ><button type="button" class="hero__btn--bottom">
              How it’s made?
            </button></a
          >
        </div>
      </div>
      <div class="hero__stat-wrap">
        <ul class="hero__stat list">
          <li class="hero__item">
            <span class="hero__item-count">16</span>
            <p class="hero__item-text">cafes</p>
          </li>
          <li class="hero__item">
            <span class="hero__item-count">23</span>
            <p class="hero__item-text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero_container-milk">
      <div class="hero__text-wrap">
        <picture class="hero__img--bottom">
          <source
            srcset="
              ./images/slider-pic-milk-desk-1x.png 1x,
              ./images/slider-pic-milk-desk-2x.png 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/carafe_tablet_1x.png 1x,
              ./images/carafe_tablet_2x.png 2x
            "
            media="(min-width:
          768px)"
          />
          <img src="./images/carafe_tablet_1x.png" alt="milk in a pot" />
        </picture>
        <div class="hero_wrap-textbnt">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button
            type="button"
            class="hero__button-arrow"
            data-manu-carafe-open
          >
            <svg class="arrow-icon" width="15" height="15">
              <use href="./images/icons.svg#icon-icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="hero__containers-girl">
        <picture class="hero__img-tasty">
          <source
            srcset="
              ./images/slider-pic-girl-desk-1x.png 1x,
              ./images/slider-pic-girl-desk-2x.png 2x
            "
            media="(min-width:
          1200px)"
          />
          <source
            srcset="
              ./images/slider-girl-tab1x.png 1x,
              ./images/slider-girl-tab2x.png 2x
            "
            media="(min-width:
          768px)"
          />
          <img src="./images/slider-girl-tab1x.png" alt="girl with ice cream" />
        </picture>
      </div>
    </div>
  </div>
  
</section>
