<section class="mobile-menu__container" data-menu-container>
  <div class="mobile-menu__menu" data-menu>
    <div class="mobile-menu__buttons">
      <button
        type="button"
        class="mobile-button mobile-button__close-mobile"
        aria-expanded="false"
        data-menu-close
      >
        <svg width="14px" height="14px" aria-label="Close mobile menu" >
          <use class="icon-close" href="./images/icons.svg#icon-EXE" ></use>
        </svg>
      </button>
      <button type="button" class="mobile-button mobile-button__buy" data-modal-open>
        Buy now
      </button>
    </div>
    <ul class="list mobile-menu__list">
      <li class="mobile-menu__list-item">
        <a href="" class="link mobile-menu__link mobile-menu__link-current"
          >Home</a
        >
      </li>
      <li class="mobile-menu__list-item">
        <a href="#advantages" class="link mobile-menu__link">About us</a>
      </li>
      <li class="mobile-menu__list-item">
        <a href="#about" class="link mobile-menu__link">How it's made</a>
      </li>
      <li class="mobile-menu__list-item">
        <a href="#products" class="link mobile-menu__link">Our products</a>
      </li>
      <li class="mobile-menu__list-item">
        <a href="#contacts" class="link mobile-menu__link">Contact</a>
      </li>
    </ul>
    <div class="mobile-menu__pictures">
      <img
        src="./images/gallery-menu/mobile_splat1_245_1x.png"
        srcset="
          ./images/gallery-menu/mobile_splat1_245_1x.png 1x,
          ./images/gallery-menu/mobile_splat1_245_1x.png 2x
        "
        width="245px"
        height="200px"
        alt="Milk Splat"
        class="mobile-menu__splat1"
        data-menu-splat1
      />
      <img
        src="./images/gallery-menu/mobile_splat2_245_1x.png"
        srcset="
          ./images/gallery-menu/mobile_splat2_245_1x.png 1x,
          ./images/gallery-menu/mobile_splat2_245_1x.png 2x
        "
        width="245px"
        height="195px"
        alt="Milk Splat"
        class="mobile-menu__splat2"
        data-menu-splat2
      />
      <img
        src="./images/gallery-menu/mobile_splat3_245_1x.png"
        srcset="
          ./images/gallery-menu/mobile_splat3_245_1x.png 1x,
          ./images/gallery-menu/mobile_splat3_245_2x.png 2x
        "
        width="245px"
        height="245px"
        alt="Milk Splat"
        class="mobile-menu__splat3"
        data-menu-splat3
      />
      <img
        src="./images/gallery-menu/mobile_cow_240_1x.png"
        srcset="
          ./images/gallery-menu/mobile_cow_240_1x.png 1x,
          ./images/gallery-menu/mobile_cow_240_2x.png 2x
        "
        width="240px"
        height="240px"
        alt="Happy Cow"
        class="mobile-menu__cow"
        data-menu-cow
      />
    </div>
  </div>
</section>
