<section class="products" id="products">
  <div class="container">
    <p class="products__top-text">100% Natural</p>
    <h2 class="products__title">Products</h2>
    <div class="products__menu">
      <ul class="products__list">
        <li class="products__item">
          <h3 class="products__item-title">Ice cream</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products-text-invisible"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button type="button" class="products__button-arrow" data-manu-ice-cream-open>&#10132;</button>
        </li>
        <li class="products__item">
          <h3 class="products__item-title">Ice coffee</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products-text-invisible"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button type="button" class="products__button-arrow" data-manu-ice-coffee-open>&#10132;</button>
        </li>
        <li class="products__item">
          <h3 class="products__item-title">Milkshakes</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products-text-invisible"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button type="button" class="products__button-arrow" data-manu-milkshakes-open>&#10132;</button>
        </li>
      </ul>
    </div>
  </div>
</section>
